@{
    ViewData["Title"] = "MVPConf 2019";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Workskop de Azure DevOps</h1>
    <h2><b>Vinicius Moura e Carlos dos Santos</b></h2>
</div>
